.hello {
  margin: 20px 0;
  padding-left: 5%;
  font-size: 48px;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto; }

.greeting {
  text-align: center; }

.incrementButtons,
.resetButton {
  text-align: center; }

.hello button {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 40px;
  min-width: 50px; }

.centered {
  display: flex;
  justify-content: center;
  align-items: center; }

table {
  border: 1px solid black; }

td,
th {
  border: 1px solid black;
  padding: 5px;
  text-align: center; }
