.hello {
  margin: 20px 0;
  padding-left: 5%;
  font-size: 48px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.greeting {
  text-align: center; }

.incrementButtons,
.resetButton {
  text-align: center; }

.hello button {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 40px;
  min-width: 50px; }
